html {
    font-size: 16px;
  }
  
body {
    width: 100%;
    height: 100vh;
}

.nav-item {
    padding: 3.125rem;
    padding-top: 0;
}

#actual {
    color: gray;
}

/* #logo {
    padding: 3.125rem;
    width: 20.625rem;
    padding-top: 0;
} */


#imagem-cartaz {
    border-radius: 0.9375rem;
    width: 81.25rem;
}

#navbarNav {
    font-size: 1.375rem;
    font-weight: bold;
}

header {
    background-color: rgb(41,40,40);
}

.nav {
    justify-content: space-between;
    align-items: baseline;
}

.nav-link {
    font-size: 1.375rem;
    font-weight: bold;
    color: white;
}

.nav-link:hover {
    color: red;
}

.container-fluid {
    text-align: center;
    background-color: rgb(41,40,40);
    background: linear-gradient(
    rgb(41,40,40) 85%,
    white 15%);
}

.titulo {
    font-weight: bold;
    font-size: 2.5rem;
}

.ver-mais {
    text-align: end;
    font-size: 1.125rem;
    font-weight: bold;
}

.ver-mais:hover {
    color: gray;
    cursor: pointer;
}

.bloco-filmes {
    padding-left: 4.125rem;
    padding-right: 4.625rem;
    padding-top: 6.25rem;
}

.fotos-filmes {
    padding: 1.875rem;
    width: 25rem;
    border-radius: 2.3125rem;
}

.bloco-imagens {
    text-align: center;
}

.titulo-review {
    color: white;
}

#nome {
    color: red;
}

.imagem-review {
    float: right;
}

.review {
    display: inline-block;
}

.div-review {
    background-color: rgb(41,40,40);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
}

.container {
    display: contents;
}

.li-footer {
    padding: 0.9375rem;
}
